<!-- /views/add-game.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Game</title>
    <link rel="stylesheet" href="assets/css/addGame.css" />
  </head>
  <body>
    <header>
      <h1>Add Game</h1>
      <a href="/">Home</a>
    </header>
    <div class="container">
      <form action="/games/add" method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required /><br /><br />
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" required /><br /><br />
        <label for="description">Description:</label><br />
        <textarea
          id="description"
          name="description"
          rows="4"
          cols="50"
          required
        ></textarea
        ><br /><br />
        <label for="releaseDate">Release Date:</label>
        <input
          type="date"
          id="releaseDate"
          name="releaseDate"
          required
        /><br /><br />
        <label for="rating">Rating:</label>
        <input
          type="number"
          id="rating"
          name="rating"
          min="-1488"
          max="10"
          step="0.1"
          required
        /><br /><br />
        <label for="downloadLink">Download Link:</label>
        <input
          type="text"
          id="downloadLink"
          name="downloadLink"
          required
        /><br /><br />
        <label for="image">Image:</label>
        <input
          type="file"
          id="image"
          name="image"
          accept="image/*"
          required
        /><br /><br />
        <button type="submit">Add Game</button>
      </form>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const token = "<%= token %>";
        fetch("/add", {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Користувач не авторизований");
            }
            return response.json();
          })
          .then((data) => {
            console.log(data);
          })
          .catch((error) => console.error(error));
      });
    </script>
  </body>
</html>
